body{
    width: 100%;
    height: 100%;
}

.page{
    width: auto;
    height: auto;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item{
    padding: 20px;
    width: 100%;
    align-self: start;
    text-align: center;
    justify-content: center;
    background-color: lightblue;
    color: white;
}

.nav-container{
    display: flex;
    width: 100%;
}
